@import '/src/variables';

.jobs-page {
  padding: 0 10px;
  .hero-text {
    text-align: center;
    margin-top: 2em;
    font-size: 1.15em;
    h2 { line-height: 1 }
  }
  .filters {
    max-width: 395px;
    margin: 10px auto;
    button {
      height: 40px;
      width: calc(50% - 5px);
      background: none;
      border: 2px solid;
      border-radius: 5px;
      font-weight: bold;
      color: $darkGray;
      cursor: pointer;
      outline: none;
      &:hover { color: $babyBlue }
    }
    .by-company { margin-right: 10px }
  }
  .jobs-section {
    .jobs-list { margin-top: 15px}
    @media (min-width: 1024px) {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      margin-top: 20px;
      max-width: 1125px;
      .jobs-list { &, .job:first-of-type { margin-top: 0 } }
      .job-information {
        position: sticky;
        top: 2.5vh;
        left: 0 !important;
        height: 95vh;
        width: 700px;
        box-shadow: 0px 0px 6px 2px #0000031f;
        border-radius: 5px;
        margin-left: 1.5em;
        .go-back { display: none }
      }      
    }
  }
  .loader {
    width: 30px;
    height: 30px;
    margin: 2em auto;
    border: 5px solid black;
    border-radius: 50%;
    border-top-color: transparent;
    @keyframes spin {
      from { transform: rotate(0) }
      to { transform: rotate(360deg) }
    }
    animation: spin 1s infinite;
  }
  .not-found {
    max-width: 395px;
    margin: 5em auto;
    text-align: center;
    font-weight: bold;
    color: $darkGray;
  }
}