@import '/src/variables';

.job {
  max-width: 375px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  border-bottom: 5px solid $babyBlue;
  box-shadow: 0px 0px 6px 2px #0000031f;
  cursor: pointer;
  .content {
    display: flex;
    figure {
      width: 75px;
      height: 75px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      background-color: $lightGray;
      img {
        width: 100%;
        border-radius: 5px;
      }
    }
    .information {
      margin-left: 5px;
      .title { font-weight: bold }
      p:not(.title) {
        font-size: .9em;
        color: $darkGray;
      }
    }
  }
  .description {
    font-size: .9em;
    margin-top: 5px;
  }
}